<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      <h2>Value editor : {{value?.name}} <small>({{value?.concept.text}})</small></h2>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="card" id="taskCard">
              <div class="card-header card-success"><h4>Attributes</h4></div>
              <div class="card-block">
                <div class="row" *ngIf="value">
                  <div class="col-md-12">
                    <table class="table table-striped table-sm">
                      <thead>
                        <th>Attribute</th>
                        <th>Type</th>
                        <th>Value</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of attributes">
                          <td>{{item.name}}</td>
                          <td>{{item.type}}</td>
                          <td>{{getAttributeValue(item)}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
