<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      <h2>Value editor</h2>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="card" id="taskCard">
              <div class="card-header card-success"><h4>Concept values <small></small><button (click)="addConceptValue()" class="btn btn-info pull-right">Add</button></h4></div>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-12">
                    Hello world
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
