<div class="modal-header">
  <h4 class="modal-title">Add to concept "{{sourceConcept.context}}"</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="sourceConcept">Linkage</label>
        <input class="form-control" id="sourceConcept" type="text" value="{{sourceConcept.context}}" name="source" readonly>
      </div>
      <div class="col-md-4 form-group">
        <label for="relationship">&nbsp;</label>
        <div ngbDropdown id="relationship">
          <button class="btn dropdown-toggle btn-block text-left" id="relationshipDropdown" ngbDropdownToggle [disabled]="readonly">Has attribute<i class="fa fa-caret-down pull-right"></i> </button>
          <div class="dropdown-menu"  aria-labelledby="relationshipDropdown">
            <button class="dropdown-item">Is a</button>
            <button class="dropdown-item">Is parent of</button>
            <button class="dropdown-item">Is child of</button>
            <button class="dropdown-item">Is type of</button>
          </div>
        </div>      </div>
      <div class="col-md-4 form-group">
        <label for="targetConcept">&nbsp;</label>
        <input class="form-control" id="targetConcept" type="text" [(ngModel)]="targetConcept.context" name="targetConcept" [readonly]="targetConcept?.id">
      </div>
    </div>
    <app-concept-details [(ngModel)]="targetConcept" [readonly]="targetConcept?.id"></app-concept-details>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="cancel()" name="cancel">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="ok();" name="Ok">OK</button>
</div>
