<div class="modal-header">
  <h4 class="modal-title">Concept synonyms</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
        <div class="scroll-box-350">
          <table class="table table-striped table-sm">
            <thead>
              <tr class="d-flex">
                <th class="col-8">Synonym</th>
                <th class="col-3">Status</th>
                <th class="col-1"></th>
              </tr>
            </thead>
            <tbody class="d-block scroll-box-250">
              <tr *ngFor="let item of result" class="d-flex" [class.text-warning]="item.status === 2">
                <td class="col-8">{{item.term}}<span *ngIf="item.preferred"><i class="fa fa-fw fa-star text-success"></i></span> </td>
                <td class="col-3">{{getStatusName(item.status)}}</td>
                <td class="col-1">XX</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="ok()" name="Ok">OK</button>
  <button type="button" class="btn btn-danger" (click)="cancel()" name="cancel">Cancel</button>
</div>
