<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Edit view
      <div class="pull-right">
        <button class="btn btn-danger" (click)="close(true)">Close</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-12 mb-4">
            <div class="card h-100" id="detailCard">
              <div class="card-header"><h4>Details <button type="button" class="btn btn-sm btn-success pull-right" (click)="save()">Save</button></h4></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="view.name" name="name">
                  </div>
                  <div class="col-md-8 form-group">
                    <label class="control-label">Description</label>
                    <input type="text" class="form-control" [(ngModel)]="view.description" name="desc">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card h-100" id="contentCard">
              <div class="card-header"><h4>Content
                <div class="pull-right">
                  <button type="button" class="btn btn-sm btn-success" (click)="addItem()">Include</button>
                  <button type="button" class="btn btn-sm btn-danger" (click)="removeItem()" [disabled]="selectedFolder == null || selectedFolder.conceptId == null">Remove</button>
                </div>
              </h4></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12" *ngIf="items.length === 0">[Empty]</div>
                  <div class="col-md-12 scroll-box-400">
                    <tree-root #tree [nodes]="items" [options]="options" (activate)="selectNode($event.node.data)" (updateData)="updated()">
                      <ng-template #treeNodeTemplate let-node>
                        <div class="folder-item show-child-on-hover">
                          {{ node.data.conceptName }}<i *ngIf="node.data.contextId" ngbTooltip="Context: {{node.data.contextName}}" class="info-icon" aria-hidden="true"></i>
                        </div>
                      </ng-template>
                    </tree-root>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card h-100" id="conceptsCard">
              <div class="card-header"><h4>Available concepts</h4></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12"><strong>TODO:</strong> Search & View navigator of existing concepts for Drag/drop into content panel opposite</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
