<div class="modal-header">
  <h4 class="modal-title">Select concept</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="control-label">Search criteria</label>
        <div class="input-group">
          <input class="form-control" type="text" [(ngModel)]="criteria" name="filter" autofocus (keyup.enter)="search()">
          <button type="button" class="btn input-group-addon" (click)="search()"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Code status</label>
        <div class="input-group" (click)="activeOnly = !activeOnly">
          <button type="button" class="btn input-group-addon"><i class="fa fa-fw" [ngClass]="{'fa-check': activeOnly, 'fa-blank': !activeOnly}"></i></button>
          <input class="form-control" type="text" value="Active only" readonly>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Code system</label>
        <multiSelectDropdown [data]="systems" [(ngModel)]="selectedSystems" [nameField]="'text'"></multiSelectDropdown>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <loadingIndicator [done]="result">
          <div class="scroll-box-350">
            <table class="table table-striped table-hover table-sm">
              <thead>
                <tr>
                  <th>(System) Term</th>
                  <th>Concept</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of result" (click)="selection=item" [class.selection]="selection==item" [class.text-warning]="item.status == 'Deprecated'">
                  <td>{{item.fullName}}</td>
                  <td>{{item.context}}</td>
                  <td>{{item.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </loadingIndicator>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="ok();" name="Ok" [disabled]="selection==null">Select</button>
  <button type="button" class="btn btn-danger" (click)="cancel()" name="cancel">Cancel</button>
</div>
