<div class="modal-header">
  <h4 class="modal-title">Edit relationship</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-4">
        <label class="control-label">Source</label>
        <div class="input-group">
          <input type="text" class="form-control" [ngModel]="result.source?.name" readonly name="source">
          <div class="input-group-append">
            <button (click)="selectSource()" type="button" class="btn" [hidden]="conceptId === result.source?.id"><i class="fa fa-fw fa-search"></i></button>
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="control-label">Relationship</label>
        <button (click)="swap()" type="button" class="btn btn-xs btn-success pull-right">Swap source <i class="fa fa-fw fa-exchange"></i> target</button>
        <div class="input-group">
          <input type="text" class="form-control" [ngModel]="result.relationship?.name" readonly name="rel">
          <div class="input-group-append">
            <button (click)="selectRelationship()" type="button" class="btn"><i class="fa fa-fw fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="control-label">Target</label>
        <div class="input-group">
          <input type="text" class="form-control" [ngModel]="result.target?.name" readonly name="target">
          <div class="input-group-append">
            <button (click)="selectTarget()" type="button" class="btn" [hidden]="conceptId === result.target?.id"><i class="fa fa-fw fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Restrictions</label>
        <div class="custom-control custom-checkbox form-control-plaintext">
          <input type="checkbox" class="custom-control-input" [checked]="result.mandatory" (change)="result.mandatory = !result.mandatory" id="chkMandatory" name="min">
          <label class="custom-control-label" for="chkMandatory">Mandatory</label>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label">Limit</label>
        <input type="number" class="form-control" [(ngModel)]="result.limit" name="max" min="0">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="ok()" name="Ok">OK</button>
  <button type="button" class="btn btn-danger" (click)="cancel()" name="cancel">Cancel</button>
</div>
