<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      <h2>Schema mappings</h2>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="card" id="taskCard">
              <div class="card-header"><h4>Record type concepts</h4></div>
              <div class="card-body">
                <loadingIndicator [done]="recordTypes">
                <table class="table table-striped table-sm table-hover" *ngIf="recordTypes">
                  <thead>
                    <tr>
                      <th>Context</th>
                      <th>Name</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of recordTypes.results" (click)="editSchemaMappings(item)">
                      <td>{{item.context}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.status}}</td>
                    </tr>
                  </tbody>
                </table>
                </loadingIndicator>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
