<div class="modal-header">
  <h4 class="modal-title">Rule editor</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="label">FHIR Resource type</label>
        <input type="text" class="form-control" [(ngModel)]="ruleset.resourceType">
      </div>
      <div class="form-group col-md-6">
        <label class="label">Target concept</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="ruleset.target.text">
          <button class="btn input-group-addon"><i class="fa fa-lg fa-search"></i></button>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label class="label">Rules</label> <button type="button" class="btn btn-sm btn-success">Add</button>
        <table class="table table-sm table-striped">
          <thead>
            <tr class="d-flex">
              <th class="col-5">Attribute</th>
              <th class="col-1">Comparator</th>
              <th class="col-6">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ruleset.rules" class="d-flex">
              <td class="col-5">{{item.property}}</td>
              <td class="col-1">{{item.comparator}}</td>
              <td class="col-6">{{item.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="ok()" name="ok">OK</button>
  <button type="button" class="btn" (click)="cancel()" name="cancel">Close</button>
</div>
