<div class="row" *ngIf="model">
  <div class="col-md-12 col-lg-3 form-group">
    <label for="conceptShortName">Short name</label>
    <input class="form-control" id="conceptShortName" type="text" [(ngModel)]="model.shortName" name="conceptShortName" [readonly]="readonly">
  </div>
  <div class="col-md-12 col-lg-3 form-group">
    <label for="conceptSuperclass">Superclass</label>
    <div class="input-group">
      <input class="form-control" id="conceptSuperclass" type="text" value="{{model.superclass.name}}" name="conceptSuperclass" [readonly]="readonly">
      <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 form-group">
    <label for="conceptStatus">Status</label>
    <div ngbDropdown id="conceptStatus">
      <button class="btn dropdown-toggle btn-block text-left btn-secondary" id="statusDropdown" ngbDropdownToggle [disabled]="readonly">{{getConceptStatusName(model.status)}}<i class="fa fa-caret-down pull-right"></i> </button>
      <div class="dropdown-menu"  aria-labelledby="statusDropdown">
        <button class="dropdown-item" (click)="setStatus(ConceptStatus.DRAFT)">Draft</button>
        <button class="dropdown-item" (click)="setStatus(ConceptStatus.ACTIVE)">Active</button>
        <button class="dropdown-item" (click)="setStatus(ConceptStatus.DEPRECATED)">Deprecated</button>
        <button class="dropdown-item" (click)="setStatus(ConceptStatus.TEMPORARY)">Temporary</button>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 form-group">
    <label for="conceptVersion">Version</label>
    <input class="form-control" id="conceptVersion" type="text" value="{{model.version}}" name="conceptVersion" readonly>
  </div>
  <div class="col-md-12 col-lg-9 form-group">
    <label for="conceptName">Full name</label>
    <input class="form-control" id="conceptName" type="text" [(ngModel)]="model.fullName" name="conceptName" [readonly]="readonly" (change)="onNameChanged()">
  </div>
  <div class="col-md-3 col-lg-3 form-group">
    <label for="conceptUses">Use count</label>
    <input class="form-control" id="conceptUses" type="text" value="{{model.useCount}}" name="conceptUses" readonly>
  </div>
  <div class="col-md-12 col-lg-12 form-group">
    <label for="conceptUrl">URL</label>
    <input class="form-control" id="conceptUrl" type="text" [(ngModel)]="model.url" name="conceptUrl" [readonly]="readonly">
  </div>
  <div class="col-md-12 col-lg-12 form-group">
    <label for="conceptDescription">Description</label>
    <textarea rows="5" class="form-control" id="conceptDescription" type="text" [(ngModel)]="model.description" name="conceptDescription" [readonly]="readonly"></textarea>
  </div>
</div>
