<div class="row" *ngIf="model">
  <div class="col-md-12 col-lg-6 form-group">
    <label for="conceptName">Full name</label>
    <input class="form-control" id="conceptName" type="text" [(ngModel)]="model.fullName" name="conceptName" [readonly]="readonly">
  </div>
  <div class="col-md-6 col-lg-2 form-group">
    <label for="conceptType">Type</label>
    <input class="form-control" id="conceptType" type="text" value="{{model.type.context}}" name="conceptType" readonly>
  </div>
  <div class="col-md-6 col-lg-2 form-group">
    <label for="conceptVersion">Version</label>
    <input class="form-control" id="conceptVersion" type="text" value="{{model.version}}" name="conceptVersion" readonly>
  </div>
  <div class="col-md-6 col-lg-2 form-group">
    <label for="conceptStatus">Status</label>
    <div ngbDropdown id="conceptStatus">
      <button class="btn dropdown-toggle btn-block text-left" id="statusDropdown" ngbDropdownToggle [disabled]="readonly">{{getConceptStatusName(model.status)}}<i class="fa fa-caret-down pull-right"></i> </button>
      <div class="dropdown-menu"  aria-labelledby="statusDropdown">
        <button class="dropdown-item" (click)="setStatus(ConceptStatus.DRAFT)">Draft</button>
        <button class="dropdown-item" (click)="setStatus(ConceptStatus.ACTIVE)">Active</button>
        <button class="dropdown-item" (click)="setStatus(ConceptStatus.DEPRECATED)">Deprecated</button>
        <button class="dropdown-item" (click)="setStatus(ConceptStatus.TEMPORARY)">Temporary</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 form-group">
    <label for="conceptUrl">URL</label>
    <input class="form-control" id="conceptUrl" type="text" [(ngModel)]="model.url" name="conceptUrl" [readonly]="readonly">
  </div>
  <div class="col-md-12 col-lg-12 form-group">
    <label for="conceptDescription">Description</label>
    <input class="form-control" id="conceptDescription" type="text" [(ngModel)]="model.description" name="conceptDescription" [readonly]="readonly">
  </div>
</div>
