<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Attribute model editor : {{model?.context}}
        <div class="pull-right">
          <button class="btn btn-success" (click)="save()">Save</button>
          <button class="btn btn-warning" (click)="close(true)">Cancel</button>
        </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="card h-100" id="detailCard" *ngIf="model">
              <div class="card-header card-success"><h4>Details</h4></div>
              <div class="card-block">
                <app-concept-details [(ngModel)]="model" name="details"></app-concept-details>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card h-100" id="relatedGraph">
              <div class="card-header card-success"><h4>Concept links <small> (double-click to expand)</small><button class="btn btn-info pull-right" (click)="addConcept()">Add...</button></h4> </div>
              <div class="card-block">
                <nodeGraph #nodeGraph (nodeClick)="nodeClick($event)" (nodeDblClick)="nodeDblClick($event)"></nodeGraph>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
