@import "~eds-angular4/assets/scss/endeavour";

.dropdown-toggle-custom::after {
  display:none;
}

@-webkit-keyframes argh-my-eyes {
  0%   { background-color: #fff; }
  49% { background-color: #fff; }
  50% { background-color: #000; }
  99% { background-color: #000; }
  100% { background-color: #fff; }
}
@-moz-keyframes argh-my-eyes {
  0%   { background-color: #fff; }
  49% { background-color: #fff; }
  50% { background-color: #000; }
  99% { background-color: #000; }
  100% { background-color: #fff; }
}
@keyframes argh-my-eyes {
  0%   { background-color: #fff; }
  49% { background-color: #fff; }
  50% { background-color: #000; }
  99% { background-color: #000; }
  100% { background-color: #fff; }
}

.help-box {
  position: fixed;
  z-index: 2000;
  padding: 8px;
  border-radius: $border-radius;
  -webkit-animation: argh-my-eyes 1s infinite;
  -moz-animation:    argh-my-eyes 1s infinite;
  animation:         argh-my-eyes 1s infinite;
}

