<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Term mappings editor : {{model?.context}}
        <div class="pull-right">
          <button class="btn btn-success" (click)="save()">Save</button>
          <button class="btn btn-warning" (click)="close(true)">Cancel</button>
        </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="card" id="detailCard" *ngIf="model">
              <div class="card-header card-success"><h4>Details</h4></div>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-5 form-group">
                    <label for="conceptContext">Context</label>
                    <input class="form-control" id="conceptContext" type="text" value="{{model.context}}" name="conceptContext" readonly>
                  </div>
                  <div class="col-md-5 form-group">
                    <label for="conceptVersion">Version</label>
                    <input class="form-control" id="conceptVersion" type="text" value="{{model.version}}" name="conceptVersion" readonly>
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="conceptStatus">Status</label>
                    <div ngbDropdown id="conceptStatus">
                      <button class="btn dropdown-toggle btn-block text-left" id="statusDropdown" ngbDropdownToggle>{{getConceptStatusName(model.status)}}<i class="fa fa-caret-down pull-right"></i> </button>
                      <div class="dropdown-menu"  aria-labelledby="statusDropdown">
                        <button class="dropdown-item" (click)="setStatus(ConceptStatus.DRAFT)">Draft</button>
                        <button class="dropdown-item" (click)="setStatus(ConceptStatus.ACTIVE)">Active</button>
                        <button class="dropdown-item" (click)="setStatus(ConceptStatus.DEPRECATED)">Deprecated</button>
                        <button class="dropdown-item" (click)="setStatus(ConceptStatus.TEMPORARY)">Temporary</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="conceptUrl">URL</label>
                    <input class="form-control" id="conceptUrl" type="text" [(ngModel)]="model.url" name="conceptUrl">
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="conceptName">Full name</label>
                    <input class="form-control" id="conceptName" type="text" [(ngModel)]="model.fullName" name="conceptName">
                  </div>

                  <div class="col-md-12 form-group">
                    <label for="conceptDescription">Description</label>
                    <input class="form-control" id="conceptDescription" type="text" [(ngModel)]="model.description" name="conceptDescription">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="card" id="relatedCard" [hidden]="!model">
              <div class="card-header card-success"><h4>Attributes</h4></div>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-4">
                    <button class="btn btn-sm btn-success" (click)="addRelationship()">Add</button>
                    <br>
                    <br>
                    <table class="table table-sm table-striped table-hover" *ngIf="model">
                      <thead>
                      <tr class="d-flex">
                        <th class="col-6">Concept</th>
                        <th class="col-5">Relationship</th>
                        <th class="col-1"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of data.nodes" class="d-flex show-child-on-hover" ngClass="" (click)="selectRelated(item)" [class.selection]="item == selectedRelation">
                        <td class="col-6">{{item.name}}</td>
                        <td class="col-5">{{item.group}}</td>
                        <td class="col-1"><button class="btn btn-sm btn-danger pull-right child-to-show"><i class="fa fa-trash"></i></button> </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-8">
                    <nodeGraph [graphData]="data"></nodeGraph>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
